@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
    .btn-margin {
        margin: 10px 10px 10px 10px
    }
        
    .person-pic {
        height: auto;
        max-height: 150px;
        width: auto;
        max-width: 150px;
    }
}
